@model PagedList.IPagedList<WebNoiThatReal.Models.Product>

@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Sanphamlayout.cshtml";
}

<script src="~/Content/fontawesome/all.js"></script>


<link href="~/Content/styleboxsp.css" rel="stylesheet" />

<div class="container" style="padding-bottom:50px;padding-top:70px">
    <div class="row">
        @foreach (var pro in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="product-box">
                    <a href="@Url.Action("DetailsSP", "Product", new { id = pro.ProductID })">
                        <img src="@Url.Content(pro.ImagePro)" alt="Image of @pro.NamePro" />
                    </a>
                    <p>
                        <a href="@Url.Action("DetailsSP", "Product", new { id = pro.ProductID })">@Html.DisplayFor(m => pro.NamePro)</a>
                    </p>
                    <p class="price-pro">
                        @string.Format("{0:N0}", pro.Price) Đ
                    </p>
                    <div class="product-overlay">
                        <a href="@Url.Action("DetailsSP", "Product", new { id = pro.ProductID })">
                            <input type="hidden" name="id" value="@pro.ProductID" />
                            <input type="hidden" name="quantity" value="1" />
                            <button type="submit" class="btn-view-more">
                                <i class="fas fa-info-circle"></i> Xem thêm
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>


<footer>
    <br /><br />
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    <div class="footer" style="opacity:0.6;text-align:center">
        <h4>Copyright © 2024 MeDECOR Interior Design. All Rights Reserved.</h4>
        <h5> Policy | Data Privacy | Sitemap</h5>
    </div>
</footer>
