@model PagedList.IPagedList<WebNoiThatReal.Models.Event>

@using PagedList.Mvc
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<link href="~/Content/Trangtri/StyleLienHe.css" rel="stylesheet" />

<div class="content-lien-he">
    
    <h2 style="font-family: Bahnschrift; margin-top: 70px; margin-left: 30px;">TIN TỨC</h2>

    <div class="container" style="padding-bottom:50px;padding-top:20px">
        <div class="row">
            @foreach (var eve in Model.OrderByDescending(e => e.EventDate))
            {
                <div class="col-md-12">
                    <div class="event-box">
                        <div class="event-content">
                            <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                                <img src="@Url.Content(eve.ImageUrl)" alt="Image of @eve.Title" class="event-image" />
                            </a>

                            <div class="event-details">
                                <p class="event-name" style="font-size:20px; font-weight:600;">
                                    <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                                        @Html.DisplayFor(m => eve.EventName)
                                    </a>
                                </p>
                                <p class="event-date">
                                    <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        @eve.EventDate.ToString("dd/MM/yyyy")
                                    </a>
                                </p>
                                <p class="event-views">
                                    <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        @Html.DisplayFor(m => eve.Views)
                                    </a>
                                </p>
                                <p class="event-title">
                                    <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                                        @Html.DisplayFor(m => eve.Title)
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("LienHe", new { page }))
    </div>
</div>
<footer>
    <br /><br />
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    <div class="footer" style="opacity:0.6;text-align:center">
        <h4>Copyright © 2024 MeDECOR Interior Design. All Rights Reserved.</h4>
        <h5> Policy | Data Privacy | Sitemap</h5>
    </div>
</footer>