@model WebNoiThatReal.Models.CombinedViewModel


@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/Mainlayout.cshtml";
}
<link href="~/Content/MyStyle.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/slick.css" />
<link href="~/Content/StyleSlideHome.css" rel="stylesheet" />
<link href="~/Content/styleslider.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script> <!-- Ensure jQuery is loaded first -->
<script src="~/Scripts/slick.min.js"></script> <!-- Slick Slider script loaded after jQuery -->



<!DOCTYPE html>
<html>



<body style="padding-top:120px">
    <script src="~/Content/fontawesome/all.js"></script>


    <link href="~/Content/styleboxsp.css" rel="stylesheet" />




    <div class="center-container">
        <div class="container-homeslide">
            <div class="row">
                <div class="slider-container">
                    <div class="slider">
                        <div class="slides">
                            <input type="radio" name="radio-btn" id="radio1">
                            <input type="radio" name="radio-btn" id="radio2">
                            <input type="radio" name="radio-btn" id="radio3">
                            <input type="radio" name="radio-btn" id="radio4">
                            <div class="slide first">
                                <img src="~/Content/Trangtri/saleqc.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="~/Content/Images/center.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="~/Content/Trangtri/sofaqc.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="~/Content/Trangtri/pcbed.png" alt="">
                            </div>
                            <div class="navigation-auto">
                                <div class="auto-btn1"></div>
                                <div class="auto-btn2"></div>
                                <div class="auto-btn3"></div>
                                <div class="auto-btn4"></div>
                            </div>
                        </div>

                        <div class="navigation-manual">
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                            <label for="radio3" class="manual-btn"></label>
                            <label for="radio4" class="manual-btn"></label>
                        </div>
                    </div>
                </div>

                <div class="category-container">
                    <div class="row">
                        <div class="col-" style="font-family: Bahnschrift;">
                            @{ Html.RenderAction("CategoryParital", "Categories"); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var counter = 1;
        setInterval(function () {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 4) {
                counter = 1;
            }
        }, 5000);
    </script>


    <br /> <br />

    <div>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
    <h2 style="font-family:Bahnschrift">BỘ SƯU TẬP NỔI BẬT</h2>



    <div>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    <h2 style="font-family:Bahnschrift">TIN TỨC MỚI NHẤT</h2>

    <div class="container-event" style="padding-bottom:50px;padding-top:70px">
        <div class="event-slider autoplay">
            @foreach (var eve in Model.Events)
            {
                <div class="event-box">
                    <div class="event-content">
                        <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                            <img src="@Url.Content(eve.ImageUrl)" alt="Image of @eve.Title" class="event-image" />
                        </a>
                        <div class="event-details">
                            <p class="event-name" style="font-size:20px ;font-weight:600">
                                <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                                    @Html.DisplayFor(m => eve.EventName)
                                </a>
                            </p>
                            <p class="event-date">
                                <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    @eve.EventDate.ToString("dd/MM/yyyy")
                                </a>
                            </p>
                            <p class="event-views">
                                <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    @Html.DisplayFor(m => eve.Views)
                                </a>
                            </p>
                            <p class="event-title">
                                <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">
                                    @Html.DisplayFor(m => eve.Title)
                                </a>
                            </p>
                            <p style="text-align:right;text-decoration:underline;margin-top:20px">
                                <a href="@Url.Action("EventDetail", "Event", new { id = eve.Id })">                                 
                                    XEM THÊM
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/Scripts/scriptSlider.js"></script>

</body>
</html>





<footer>
    <br /><br />
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    <div class="footer" style="opacity:0.6;text-align:center">
        <h4>Copyright © 2024 MeDECOR Interior Design. All Rights Reserved.</h4>
        <h5> Policy | Data Privacy | Sitemap</h5>
    </div>
</footer>


